TEST=false
CONTAINER_NAME=letstalk
DOCKER_FILE=dockerfiles/sys.Dockerfile.letstalk
COMMAND="serve -s /app/deploy/frontend -l 3006 >> /logs/frontend.log 2>&1 & cd /app/deploy/backend && gunicorn -w 4 -b __SERVER_ADDRESS__:__SERVER_PORT__ app:app >> /logs/backend.log 2>&1"
DOCKER_IMAGE=debian:bookworm
RESTART=unless-stopped
LOG_DRIVER=json-file
VOLUME=./app
WORK_DIR=/app
TIMEZONE=Asia/Bangkok
SERVER_PORT=5002
SERVER_ADDRESS=0.0.0.0
NETWORK_NAME=letstalk
APP_REPOSITORY_URL=https://github.com/ground-creative/letstalk-panel.git
LOG_LEVEL=DEBUG
WEB_PANEL_ADDRESS=http://127.0.0.1:3006
OPENVOICE_API_URL=
OLLAMA_API_URL=
LMSTUDIO_API_URL=
FAST_WHISPER_API_URL=
OPENAI_API_KEY=
ELEVENLABS_API_KEY=
USRID=
GRPID=