TEST=false
CONTAINER_NAME=letstalk
DOCKER_FILE=dockerfiles/sys.Dockerfile.letstalk
COMMAND="serve -s /app/deploy/frontend -l 3006 > /logs/frontend.log 2>&1 & cd /app/deploy/backend && flask create-db > /logs/db.log 2>&1 && gunicorn -w 4 -b __SERVER_ADDRESS__:__SERVER_PORT__ 'app:create_app()' > /logs/backend.log 2>&1"
DOCKER_IMAGE=debian:bookworm
RESTART=unless-stopped
LOG_DRIVER=json-file
VOLUME=./app
WORK_DIR=/app
TIMEZONE=Asia/Bangkok
NETWORK_NAME=letstalk_default
APP_REPOSITORY_URL=https://github.com/ground-creative/letstalk-panel.git
USRID=
GRPID=
LOG_LEVEL=DEBUG
DEBUG_APP=1
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=5002
BACKEND_PREFIX=/backend
APP_SECRET_KEY=
UPLOAD_FOLDER=/tmp
EXTERNAL_ADDRESS=
WEB_PANEL_ADDRESS=http://localhost:3006
WEB_PANEL_PREFIX=/panel
WEB_PANEL_PORT=
MYSQL_HOST=127.0.0.1
MYSQL_USER=letstalk
MYSQL_ROOT_PASSWORD=
MYSQL_PASS=
MYSQL_DB=letstalk
MYSQL_PORT==3306
AUTH0_DOMAIN=
API_AUDIENCE=https://letstalk
ALGORITHMS=RS256
VECTOR_STORE_PATH=/vector_store
KNOWLEDGE_BASE_PATH=/knowledge_base